body{
  text-align: center;
  color: #4ECCA3;
  background-color:#393E46;
}
.heading{
  margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
}
h3{
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
img{
  width: 200px;
  border-radius: 20%;
}
.d1,.d2{
  display: inline-block;
  padding: 0 20px;
}
.flag{
  width:100px;
}
h5{
  margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}